@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "GetAllNumbers";
}
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h3>Below is the result of pattern match:</h3>
            @ViewBag.AllNumbers
        </div>
    </div>
</form>